.feature_child {
  width: 30%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media(max-width:1024px){
    width: 100%;
padding: 10px;

  }

  .iconimg {
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
  }
}
