.footer{
    width: 40%;
    margin:0 auto;
    padding: 40px 0;
    font-size: 18px;
    color: rgb(100, 95, 89);

    @media(max-width:1024px){
     width: 90%;   
     margin:0 auto;
    }
}